{% extends "layout.html" %}

{% block content %}
<script src="{{ url_for('static', filename = 'directory.js') }}"></script>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="display-4 fs-1">Pose Directory</div>
            {% for sequence in sequences %}
                <div class="display-4 fs-3">{{sequence}} Sequence</div>
                <ul>
                {% for pose in poses %}
                    {% if pose.sequence == sequence %}
                        <li><a href="/learn/{{ pose.id }}">{{ pose.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endfor %}
            <div class="display-4 fs-3">All Poses</div>
                <ul>
                    {% for pose in poses %}
                        <li><a href="/learn/{{pose.id}}">{{pose.name}}</a></li>
                    {% endfor %}
                </ul>
        </div>
        <div class="col-6">
            <div class="display-4 fs-3">Sort By</div>
            <ul>
                <li><a href="/directory?sort_by=difficulty">Difficulty</a></li>
                <li><a href="/directory?sort_by=name">Name</a></li>
                <label for="bodyPartSelect">Body Part:</label>
                <select id="bodyPartSelect">
                    <option value="all">All</option>
                    <option value="chest">Chest</option>
                    <option value="shoulder">Shoulders</option>
                    <option value="arms">Arms</option>
                    <option value="core">Core</option>
                    <option value="leg">Legs</option>
                    <option value="hip">Hips</option>
                    <option value="back">Back</option>
                </select>
                <button id="bodyPartSearchButton">Search</button>
            </ul>
        </div>
    </div>
</div>

{% endblock %}