{% extends "layout.html" %}

{% block content %}
<script src="{{ url_for('static', filename = 'index.js') }}"></script>
<div class="container">
    <h1>{{pose.name}}</h1>

    <h2>How To</h2>
    <iframe width="1250" height="703" src="https://www.youtube.com/embed/{{pose.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h2>Benefits of {{pose.name}}</h2>
    <p>{{pose.benefits}}</p>

    <h2>Common Mistakes</h2>
    <p>{{pose.mistakes}}</p>

    <h2>Improvement Tips</h2>
    <p>{{pose.tips}}</p>
</div>
{% endblock %}
