{% extends "layout.html" %}

{% block content %}
<!-- <script src="{{ url_for('static', filename = 'index.js') }}"></script> -->
<body>
    <div class="container quiz-home">
                <div class="display-1 quiz-home-title">Pose Quiz</div>
                <img src="{{url_for('static', filename='/img/quiz_pose.jpg')}}">
                <div class="get-ready-text">Ready to test your skills? Select a sequence below and get ready to pose!</div>
                <form action="/start" method="post" class="sequence-form">
                    <select class="form-select form-select-lg mb-3" name="sequence">
                      {% for sequence in sequences %}
                      <option value="{{ sequence }}">{{ sequence }}</option>
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn-primary btn-lg bg-accent">Start</button>
                </form>
               
</body>

{% endblock %}